* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    align-items: center;
}

button {
    width: 100px;
    height: 40px;
    cursor: pointer;
    border: 1px solid black;
}

footer {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.red {
    background-color: tomato;
}

.green {
    background-color: darkgreen;
}